<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<ul class="nav" style="border-bottom: 1px solid #aaa; margin-bottom: 50px;">
					<li class="nav-item">
						<a class="nav-link" href="{link queue}">
							Fronta účtenek ke schválení
							<em style="color: #bbb;">({$countForApprove})</em>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#todo">Seznam výherců</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{link stats}">Statistiky</a>
					</li>
				</ul>
			</div>
			<hr>
		</div>
		<div class="row">
			<div class="col-12">
				<div n:foreach="$flashes as $flash" n:class="alert, $flash->type">
					{$flash->message}
				</div>
                {include content}
			</div>
		</div>
	</div>

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
