{block content}
{var withoutHeader =""}
    {if in_array($this->getParameter('presenter')->view, ["thanks", "win"])}
        {var withoutHeader = "header-without-text mobile-header"}
    {/if}


<header n:class="$withoutHeader">
    {include '@menu.latte'}
    <img class="header-img-bottom" src="{$basePath}/css/images/utrhly-papir-milka-napis.png" alt="milka logo">
    <div class="header-description">
    <div class="heading1" id="prizes">
        <h1>Get one off<br>
        333 <span>thermos flask</span><br>
        every day!</h1>
    </div>

    <div class="btn-win"><a href="#form" class="btn-red">click to win</a></div>

    <div class="heading2">
        <h2>keep warm<br>
        with tenderness</h2>
    </div>
    </div>
</header>