<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/core.css?7">

        <title>{ifset title}{include title|stripHtml} | {/ifset}Milka</title>
    </head>

    <body>
    <div class="wrapper">
    {if in_array($this->getParameter('presenter')->view, ["thanks", "win"])}
        {include '@headermenu.latte'}
    {else}
        {if $this->getParameter('presenter')->name == 'Homepage'}
            {include '@headermenu.latte'}
        {else}
            {include '@menu.latte'}
        {/if}
    {/if}

        <div class="content" >
            {include content}
        </div>

        <footer>
            <p>&copy; 2015 Mondelez International Services GmbH & Co. KG - all rights reserved</p>
            <div class="text-center"><img src="{$basePath}/css/images/mondelez-footer.png" alt="logo mondelez"></div>
        </footer>
    </div>
        {block scripts}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>


 <script type="text/javascript">
                $('a[href^="#form"]').on('click', function() {
                    $('html, body').animate({
                        scrollTop: $($(this).attr('href')).offset().top - 40
                    }, 2000);
                    return false;
                });
                $('a[href*="#prizes"]').on('click', function() {
                    $('html, body').animate({
                        scrollTop: $("#prizes").offset().top + 75
                    }, 2000);
                    return false;
                });



                jQuery(document).ready(function() {
                    jQuery('.menu-button').click(function(e) {
                        jQuery(this).toggleClass('hidden');
                        jQuery('.menu-list ul').toggleClass('hidden');
                        jQuery('.menu-closing-cross').toggleClass('hidden');

                        e.preventDefault();
                    });
                });

                jQuery(document).ready(function() {
                    jQuery('.menu-closing-cross').click(function(e) {
                        jQuery(this).toggleClass('hidden');
                        jQuery('.menu-list ul').toggleClass('hidden');
                        jQuery('.menu-button').toggleClass('hidden');

                        e.preventDefault();
                    });
                });

               $('#file').change(function() {
                    var i = $(this).next('label').clone();
                    var file = $('#file')[0].files[0].name;
                    var slicedFile = file.slice(0,20);
                    $(this).next('label').text(slicedFile + "... ✓");
                });

                $('.validation-message').click(function() {
                    $(this).css('visibility', 'hidden');
                });

            </script>

        {/block}
    </body>
</html>
