{block content}
{var borderShadow =""}
{if $this->getParameter('presenter')->name == 'Winners'}
    {var borderShadow = "menu-border-shadow"}
{elseif $this->getParameter('presenter')->view == 'terms'}
    {var borderShadow = "menu-border-shadow"}
{/if}


<nav class="menu-desktop {$borderShadow}">
    <ul>
        <li><a n:href="Homepage:default">Contest</a></li>
        <li><a n:href="Winners:">Winners</a></li>
        <li>
            <a n:href="Homepage:default">
                <img src="{$basePath}/css/images/milka-ousko.png" alt="milka kráva">
            </a>
        </li>
        <li><a n:href="Homepage:default#prizes">Prizes</a></li>
        <li><a n:href="Info:terms">Rules</a></li>
    </ul>
</nav>

<div class="menu-mobile">
    <div class="milka-main-img">
        <a n:href="Homepage:default"><img src="{$basePath}/css/images/milka-ousko.png" alt="logo-milka"></a></div>
    <nav class="menu-list">
        <div class="menu-button"><img src="{$basePath}/css/images/hamburger-menu.png" alt="menu button"></div>

        <div class="menu-closing-cross hidden"><a href="#"><img src="{$basePath}/css/images/closing-cross.png" alt="menu closing button"></a></div>
        <ul class="hidden">
            <li><a n:href="Homepage:default">Contest</a></li>
            <li><a n:href="Winners:">Winners</a></li>
            <li><a n:href="Homepage:default#prizes">Prizes</a></li>
            <li><a n:href="Info:terms">Rules</a></li>
        </ul>

    </nav>
</div>

{block scripts}
<script type="text/javascript">
    function visibleMenu() {
        console.log(document.getElementsByClassName("menu-closing-cross"));
        var closingCross = document.getElementsByClassName("menu-closing-cross");
        closingCross.classList.remove("hidden");
        document.getElementsByClassName("menu-button").classList.add("hidden");
    }



</script>
{/block}




