{block content}

{form competition, id=> 'form'}
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
    <div class="form-group name">
        {input firstname}
        <div class="validation-message btn-red">Ou! Wrong incorrect entry</div>
    </div>
    <div class="form-group postcode">
        {input zip}
        <div class="validation-message btn-red">Ou! Wrong incorrect entry</div>
    </div>
    <div class="form-group surname">
        {input lastname}
        <div class="validation-message btn-red">Ou! Wrong incorrect entry</div>
    </div>
    <div class="form-group email">
        {input email}
        <div class="validation-message btn-red">Ou! Wrong incorrect entry</div>
    </div>
    <div class="form-group adress">
        {input adress}
        <div class="validation-message btn-red">Ou! Wrong incorrect entry</div>
    </div>
    <div class="form-group phone-number">
        {input phone}
        <div class="validation-message btn-red eet-code">Ou! Wrong incorrect entry</div>
    </div>
    <div class="form-group">
        {input eet}
        <div class="validation-message btn-red">Ou! Wrong incorrect entry</div>
    </div>
        
    <div class="form-group">
        {input image class=> 'inputfile', id=>'file'}
        {label image for=>'file'}
        <div class="validation-message btn-red">no photo of bill - no fun - no flask</div>
    </div>
        
   <div class="checkbox-squared form-group">
       {input terms:}
        <label for="frm-competition-terms"></label>
        <p> i agree with terms</p><br>
        <a n:href="Info:terms" target="_blank">Read rules</a>
        <div class="validation-message btn-red">You forgot to agree with the rules!</div>
    </div>
    {input send class=> 'btn-red'}
    
{/form}