{block content}

<div class="instructions">
    <div class="step">
        <h3>Buy any of Milka products</h3>
        <img src="{$basePath}/css/images/milka-chocolate.png" alt="milka chocolate">
    </div>

    <div class="arrow-right">
        <img src="{$basePath}/css/images/arrow-right.png" alt="arrow">
    </div>

    <div class="step">
        <h3>Upload photo of receipt</h3>
        <img src="{$basePath}/css/images/cash-receipt.png" alt="receipt">
    </div>

    <div class="arrow-right">
        <img src="{$basePath}/css/images/arrow-right.png" alt="arrow">
    </div>

    <div class="step">
        <h3>Get one of 333 thermo flask every day</h3>
        <img src="{$basePath}/css/images/bottles.png" alt="thermo flasks">
    </div>

</div>