{* Latte template *}

{block content}
<div class="terms">
    <h1>rules of competition</h1>
    <div class="rules-text">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec iaculis gravida nulla. Pellentesque ipsum. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Suspendisse nisl. Nunc auctor. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Nullam faucibus mi quis velit. Praesent dapibus. Vivamus porttitor turpis ac leo.</p>

    <p>Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer malesuada. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Mauris tincidunt sem sed arcu. Fusce nibh. Curabitur vitae diam non enim vestibulum interdum. Nulla non lectus sed nisl molestie malesuada. Aenean placerat. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla non arcu lacinia neque faucibus fringilla. Mauris dictum facilisis augue. Maecenas sollicitudin. Aliquam ante.</p>

    <p>In dapibus augue non sapien. Etiam commodo dui eget wisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus porttitor turpis ac leo. Aliquam erat volutpat. Etiam bibendum elit eget erat. Aliquam erat volutpat. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Etiam bibendum elit eget erat. Suspendisse sagittis ultrices augue. Nulla pulvinar eleifend sem. Duis condimentum augue id magna semper rutrum. Donec iaculis gravida nulla. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. In dapibus augue non sapien.</p>

    <p>Nullam faucibus mi quis velit. Praesent vitae arcu tempor neque lacinia pretium. Aenean placerat. Nunc dapibus tortor vel mi dapibus sollicitudin. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Nulla pulvinar eleifend sem. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. In laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Etiam posuere lacus quis dolor. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Etiam dictum tincidunt diam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Maecenas lorem. Nam quis nulla. Nullam rhoncus aliquam metus. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

    <p>Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Nulla quis diam. Integer pellentesque quam vel velit. Aenean vel massa quis mauris vehicula lacinia. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed convallis magna eu sem. Duis risus. Etiam commodo dui eget wisi. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Etiam neque. Fusce tellus. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Etiam dictum tincidunt diam.</p>

    <p>Vivamus porttitor turpis ac leo. Aliquam id dolor. Donec iaculis gravida nulla. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Integer lacinia. Aliquam in lorem sit amet leo accumsan lacinia. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Nullam sit amet magna in magna gravida vehicula. Aenean vel massa quis mauris vehicula lacinia. Nulla pulvinar eleifend sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

    <p>Aenean id metus id velit ullamcorper pulvinar. Mauris elementum mauris vitae tortor. Nam quis nulla. Praesent dapibus. Sed convallis magna eu sem. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Nullam faucibus mi quis velit. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Phasellus faucibus molestie nisl. Nullam faucibus mi quis velit.</p>

    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Nullam eget nisl. Morbi scelerisque luctus velit. Etiam commodo dui eget wisi. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Mauris metus. Aliquam erat volutpat. Nulla quis diam. Aliquam erat volutpat. Aenean placerat. Ut tempus purus at lorem. Phasellus et lorem id felis nonummy placerat. Duis condimentum augue id magna semper rutrum. Donec vitae arcu. Phasellus faucibus molestie nisl. Mauris dictum facilisis augue. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Sed convallis magna eu sem. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci.</p>

    <p>Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Donec quis nibh at felis congue commodo. Ut tempus purus at lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Aliquam erat volutpat. Integer lacinia. Maecenas sollicitudin. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Integer vulputate sem a nibh rutrum consequat. In convallis. Suspendisse sagittis ultrices augue.</p>

    <p>Integer imperdiet lectus quis justo. Sed convallis magna eu sem. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Vestibulum fermentum tortor id mi. Pellentesque sapien. In rutrum. Aliquam in lorem sit amet leo accumsan lacinia. Aliquam ornare wisi eu metus. Duis condimentum augue id magna semper rutrum. Aliquam erat volutpat. Proin mattis lacinia justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vel massa quis mauris vehicula lacinia. Nam quis nulla. Maecenas sollicitudin. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nunc tincidunt ante vitae massa.</p>
    </div>
</div>
