{block content}
<div class="thx-content">
    <h2>thank you for your participation</h2>
    <h4>Litujeme, ale účtenka už vyhrála. Zkus štěstí s jinou!</h4>
    {*<h2>so good luck!</h2>*}
    <h4>more from milka on our facebook</h4>
    <div class="fcb-button"><a href="#">visit</a></div>
    <div><img class="logo-milka" src="{$basePath}/css/images/logo-milka.png" alt="logo milka"></div>

</div>
