{block content}

{if $receipt === null}
    <p>Hotovo, fronta je prozatím prázdná.</p>
{else}
<div class="row">
    <div class="col-6">
        {if substr($receipt->getImage(), 0, 4) === 'http'}
            <img src="{$receipt->getImage()}" alt="" style="max-width: 100%;">
        {else}
            <img src="../../data/{$receipt->getImage()}" alt="" style="max-width: 100%;">
        {/if}
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col">
                <a class="btn btn-success" href="{link approve! $receipt->getId()}">
                    Platná účtenka a EET kód
                </a>
            </div>
            <div class="col" style="margin-top: 1em;">
                <a class="btn btn-danger" href="{link disApprove! $receipt->getId()}" title="Na účtence není Milka, nejedná se o účtenku či je špatně opsaný EET kód">
                    Neplatná účtenka či špatně opsaný EET kód
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div style="text-transform: uppercase; color: #888; font-size: 0.7em; margin-bottom: -1em;">
                    Začátek BKP kódu
                </div>
                <div style="font-size: 2em;">
                    {$receipt->getBkp()}
                </div>
            </div>
        </div>
    </div>
</div>
{/if}
