{block content}

<h1>Statistiky</h1>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Metrika</th>
                <th class="text-right">Hodnota</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Počet čekajících účtenek k ručnímu schválení</td>
                <td class="text-right">{$countForApprove}</td>
            </tr>
            <tr>
                <td>Počet schválených účtenek</td>
                <td class="text-right">{$countApproved}</td>
            </tr>
        </tbody>
    </table>
</div>
