@font-face {
  font-family: 'Futura-Medium';
  src: url('../fonts/Futura-Medium.woff') format('woff'),
  url('../fonts/Futura-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura.eot');
  src: url('../fonts/futura.woff2') format('woff2'),
  url('../fonts/futura.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Bold';
  src: url('../fonts/Futura-Bold.eot');
  src: url('../fonts/Futura-Bold.eot') format('embedded-opentype'),
  url('../fonts/Futura-Bold.woff2') format('woff2'),
  url('../fonts/Futura-Bold.woff') format('woff'),
  url('../fonts/Futura-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

