form {
  max-width: 865px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  .name{
    order: -5;
  }

  .surname{
    order: -4;
  }

  .email{
    order: -3;
  }

  .adress{
    order: -2;
  }

  .postcode{
    order: -1;
  }

  input[type=text], input[type=submit], input[type=file], input[type=email], input[type=tel] {
    width: 100%;
    margin: 10px 20px;

  }

  input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder {
    color: rgb(194, 194, 194);
    font-family: "Futura";
    font-size: 14px;
    @media screen and (max-width: 768px) {

      font-size: 14px;
    }
  }

  input[type=checkbox] {
    margin-left: 20px;
    padding: 10px;
  }

  input[type=submit] {
    width: 30%;
    color: white;
    height: 43px;
    font-size: 14px;
  }

  input[type=text], input[type=email], input[type=tel] {
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: rgb(194, 194, 194);
    font-size: 14px;
  }

  input[type=file] {
    background-color: red;
    color: white;
    line-height: 46px;
    padding: 0 20px;
    border-radius: 10px;
  }

  div {
    display: inline-block;
    width: 30%;
    margin: 0 20px;
    text-align: left;
    input {
      margin-left: 0 !important;
    }
    p {
      display: inline-block;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 12px;
      text-align: left;
      font-size: 14px;
    }
    a {
      color: white;
      margin-left: 27px;
      font-size: 12.5px;
      font-family: Futura-Medium;
    }
  }
  @media screen and (max-width: 768px) {
    max-width: 250px;
    input[type=text], input[type=submit], button, input[type=email], input[type=tel] {
      width: 100%;
      margin: 10px 0;
    }

    button {
      margin: 10px 0 !important;
    }

    .btn-red {
      font-size: 14px;
    }

    div {
      width: 100%;
      margin: 0;
      p {
        font-size: 14px;
      }

    }
  }
.form-group{
  position: relative;
  &:first-child .validation-message{
    visibility: visible;
  }
  .validation-message{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 100%;
    line-height: 20px;
    padding: 5px 20px;
    height: 43px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {

      background-color: red;
    }
    //&:after {
    //  content: '';
    //  position: absolute;
    //  top: -15px;
    //  left: 16%;
    //  width: 0;
    //  height: 0;
    //  border: 20px solid transparent;
    //  border-bottom-color: red;
    //  border-top: 0;
    //  border-left: 0;
    //  margin-left: -10px;
    //  margin-top: -20px;
    //  border-width: 0px 9px 38px;
    //}
  }

  }
}


.checkbox-squared {
  position: relative;
  label {
    margin-top: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 6px;
      left: 6px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
  @media screen and (max-width: 768px){
  .validation-message{
    bottom: -8px!important;
  }
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  bottom: 25px;

  @media screen and (max-width: 768px){
    bottom: 100px;
    left: 0;
  }
}

.inputfile + label {
  color: white;
  display: inline-block;
  background-color: red;
  color: white;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  margin: 10px 0;
  text-align: center;

  line-height: 20px;
  padding: 5px 20px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgb(167, 13, 13);
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 10px 0;
    font-size: 15px;
  }
}
