header{
  position: relative;
  height: 460px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../css/images/banner-desktop3.png");
  background-repeat: no-repeat;
  //background-size: cover;
  background-position: center;

  .header-img-bottom{
    position: absolute;
    bottom: -58px;
    width: 103%;
    height: auto;
    display: block;
    overflow: hidden;
    left: -21px;

    @media screen and (max-width: 768px){

      bottom:-20px;
      width: 100%;
      left:0;
    }
  }

  .heading1{
    position: relative;
    top:42px;
    text-align: center;

    span{
      font-size: 15px;
    }

    @media screen and (max-width: 768px){
      top:55px;
      span{
        font-size: 15px;
      }
    }
    @media screen and (max-width: 360px){
      //top:-5px;
    }
  }

  .heading2{
    position: relative;
    top:185px;
    text-align: center;

    h2{
      //text-shadow: 0px 0px 5px rgba(15, 15, 15, 1);
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    }
      @media screen and (max-width: 768px){
      top:235px;
    }
    @media screen and (max-width: 360px){
      top:245px;
    }
  }

  .btn-win{
    text-align: center;
    position: relative;
    top:190px;
  .btn-red{

      font-size: 18.8px;
      border: 0;
      color: white;
      line-height: 46px;
      padding: 0 20px;
    border-radius: 10px;

      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      min-width: 115px;
      text-align: center;
      margin: 10px auto;
      background-color: red;
      &:hover {
        text-decoration: none;
        color: white;
        cursor: pointer;
        background-color: rgb(167, 13, 13);
      }
      }
    @media screen and (max-width: 768px){
      top:55px;
    }
    @media screen and (max-width: 360px){
      //top:0;
    }
  }

  @media screen and (max-width: 768px){
    height:520px;
    background-image: url("../css/images/banner-desktop2.png");
    &.mobile-header{
      background-image: none;
      height: 25px;
      .header-img-bottom{
        display: none;
      }
    }
  }
  @media screen and (max-width: 360px){
    //background-position: -220px;
  }
}

.header-without-text{
  .header-description{
    display: none;
  }
}