.instructions{
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  margin-top: 70px;
  max-width: 800px;
  img{
    width: 100%;
    max-width: 200px;
    align-self: center;
  }

  .step{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    margin: 0 10px;
    text-align: center;
    h3{
      height: 80px;
    }
  }

  .arrow-right{
    width:5%;
    align-self: flex-end;
    margin-bottom: 5%;
    margin-right: 10px;
    margin-left: 10px;
  }


  @media screen and (max-width: 768px){
    flex-wrap: wrap;
    justify-content: center;
    .step{
      width:50%;
      h3{
        //height: 110px;
      }
    }
    .arrow-right{
      //display: none;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 33px;
      img{
        transform: rotate(90deg);
        width: 50px;
      }
    }

  }
}