*, :after, :before { box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Futura-Bold';
}

body{
  background-color: rgb(111, 92, 162);
  margin: 0 auto;
}

.wrapper{
  max-width: 994px;
  margin: 0 auto;
  position: relative;
}

p{
  color: white;
  font-size: 22px;

  @media screen and (max-width: 768px){
    font-size: 14px;
  }

  @media screen and (max-width: 560px){
    font-size:10px;
  }

  @media screen and (max-width: 360px){
    font-size:8px;
  }
}

h1{
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  @media screen and (max-width: 768px){
    font-size:30px;
  }
}

h2{
  color: white;
  font-size: 18.8px;
  text-transform: uppercase;
  //@media screen and (max-width: 1025px){
  //  font-size:35px;
  //}
  //@media screen and (max-width: 768px){
  //  font-size:29px;
  //}
  //
  //@media screen and (max-width: 360px){
  //  font-size:19px;
  //}
}

h3{
  color: white;
  font-size: 16.45px;
  text-transform: uppercase;
  //@media screen and (max-width: 1025px){
  //  font-size:25px;
  //}
  //@media screen and (max-width: 768px){
  //  font-size:25px;
  //}
  //
  //@media screen and (max-width: 560px){
  //  font-size:20px;
  //}
  //
  //@media screen and (max-width: 360px){
  //  font-size:18px;
  //}
}

h4{
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 2;

  //@media screen and (max-width: 768px){
  //  font-size:17px;
  //}
  //
  //@media screen and (max-width: 360px){
  //  font-size:15px;
  //}
}

.content{
  max-width: 994px;
  margin: 50px auto;
  @media screen and (max-width: 768px){
    margin: 100px auto 100px auto;
  }
}

.btn-red{

  font-size: 18.8px;
  border: 0;
  color: white;
  line-height: 46px;
  padding: 0 20px;
  border-radius: 10px;

  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  min-width: 115px;
  text-align: center;
  margin: 10px auto;
  background-color: red;
  &:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(167, 13, 13);
  }
}