.menu-desktop {
  box-shadow: 0 4px 2px -2px rgba(80,74,128,1);
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 33px;
  background-color: rgb(111, 92, 162);
  color: white;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 550px;
    margin: 0 auto;

    li {
      width: 40%;
      text-align: center;
      padding-bottom: 17px;
      &:nth-child(3) {
        padding-bottom: 0;
      }
      img {
        max-width: 135px;
        max-height: 42px;
      }
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }

}

.menu-mobile {
  display: none;
  height: 65px;
  position: fixed;
  right:0;
  top:0;
  width:100%;
  max-width: 768px;
  z-index: 100;
  .milka-main-img {
    display: flex;
    justify-content: center;
    a{
      cursor: pointer;
    }
    img{
      //max-width: 270px;
      //max-height: 84px;
      max-width: 135px;
      max-height: 42px;
    }
  }

  .menu-list {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 1%;
    z-index: 1;
    div {
      position: relative;
      right: 0;
      display: inline-block;
      background-color: rgb(111, 92, 162);
      height: 30px;
      width: 65px;
      border-radius: 10px;
      &.menu-button {
        box-shadow: -4px 4px 4px 0px rgba(80,74,128,1);
        &.hidden {
          display: none;
        }
      }
      img {
        display: block;
        margin-left: 10px;
        margin-top: 9px;
        cursor: pointer;
        max-width:15px;
      }
      &.menu-closing-cross {
        &.hidden {
          display: none;
        }
        z-index: 2;
        border-radius: 10px 0 0 10px;
        box-shadow: -4px 4px 4px 0px rgba(80,74,128,1);
        position: relative;
        top: 4.5px;
        left: -46px;
        width: 50px;
        img {
          margin-top: 7px;
        }
      }
    }

    ul {
      box-shadow: -4px 4px 4px 0px rgba(80,74,128,1);
      list-style: none;
      background-color: rgb(111, 92, 162);
      padding: 10px 20px;
      border-radius: 0 10px 10px 10px;
      position: relative;
      bottom: 30px;
      &.hidden {
        display: none;
      }
      li {
        line-height: 2;
        text-align: center;

        a {
          color: white;
          text-decoration: none;
          font-size: 16px;
          text-transform: uppercase;

        }
      }

    }
  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.menu-border-shadow {
  box-shadow: 0 4px 2px -2px rgba(80,74,128,1);
  //border-radius: 10px;
  //margin-right: 10px;
  //margin-left: 10px;
  margin-bottom: 50px;
  top: 0;
}


