.terms{
  h1{
    text-align: center;
    margin: 100px auto 40px auto;
  }

  .rules-text{
    margin: 20px 50px;
    text-align: center;
    max-width: 880px;
    p{
      font-size: 8.5px;
    }
    @media screen and (max-width: 768px){
      margin: 20px;
    }

    //@media screen and (max-width: 560px){
    //  p{
    //    font-size: 12px!important;
    //  }
    //}
  }

}
