.thx-content{
  text-align: center;
  max-width: 400px;
  margin: 100px auto 200px auto;
  //padding: 0 10px;
  h2{
    margin: 25px 0;
  }

  h4:nth-of-type(2){
    margin-top:100px;
  }

  .fcb-button{
    position: relative;
    background-color: white;
    width: 110px;
    height: 32px;
    border: 2px solid rgb(66, 95, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    padding-left: 40px;
  a{
    color: rgb(66, 95, 156);
    text-transform: uppercase;
    font-size: 13px;
  text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    &:before{
      content: "";
      background-image: url("../css/images/facebook.png");
      background-size: cover;
      width: 35px;
      height: 33px;
      position: absolute;
      left: 0;
      cursor: pointer;
    }

  }

  .logo-milka{
    display: none;
  }

  @media screen and (max-width: 768px){
    margin: 100px auto;

    h4:nth-of-type(2){
      margin-top:0;
    }

    .logo-milka{
      display: block;
      margin: 10px auto;
      padding-left: 260px;
    }
  }

  @media screen and (max-width: 560px){
    .logo-milka{
      padding-left: 60px;
    }
  }

}