.winner-head{
text-align: center;
  margin-top: 90px;
  h1{
    margin: 20px 0;
  }

  input[type=search]{
    width: 264px;
    padding: 10px;
    padding-right: 25px;
    border-radius: 10px;
    border: 2px solid rgba(194, 194, 194, 0.5);
    background-image: url("../css/images/search-img.png");
    background-size: 20px 20px;
    background-position: 233px;
    background-repeat: no-repeat;
  }

  input[type=search]::placeholder{
    color: rgb(194, 194, 194);
    font-size: 12px;
  }

  .winner-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    a img{
      width: 70%;
    }
  .slider-text{
    display: inline-block;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;

    @media screen and (max-width: 768px){
      font-size:30px;
    }
  }
  }

  .list-of-winners{
    max-width: 730px;
    max-height: 830px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgba(194, 194, 194, 0.5);
    margin: 0 auto;
    font-size: 10px;
    table{
      width:100%;

      tr{
        color: rgb(111, 92, 162);
      td {
      width:15%;
        padding-bottom: 10px;
        padding-top: 10px;
        span{
          text-transform: uppercase;
        }
    }
      }
    }
    @media screen and (max-width: 768px){
      max-width: 285px;
      max-height: 830px;
      margin: 0 auto;
      overflow-y: scroll;
      tr{
        display: flex;
        flex-wrap: wrap;
        td{
          width: 100% !important;
        }
      }
    }
  }

}