{* Latte template *}

{block content}
<div class="winner-head">
    <h1>winners</h1>
    <input type="search" name="search" placeholder="HAVE YOU BEEN LUCKY TODAY?"><br>

    <div class="winner-slider">
    <a href="{link default $round-1}">
        <img src="{$basePath}/images/arrow-left.png">
    </a>
    <div class="slider-text">today</div>
    <a href="{link default $round+1}">
        <img src="{$basePath}/images/arrow-right.png">
    </a>
    </div>

    <div class="list-of-winners">
        <table>
            <tr>
                {foreach $winners as $winner}
                    <td>
                        <span>{$winner->getName()}</span><br>
                        {$winner->getAddress()}
                    </td>
                    {if $iterator->getCounter() % 6 === 0 && $iterator->getCounter() !== 0}
                        </tr><tr>
                    {/if}
                {/foreach}
            </tr>
        </table>
    </div>
</div>