.menu-desktop {
  box-shadow: 0 4px 2px -2px #504a80;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 33px;
  background-color: #6f5ca2;
  color: white;
}
.menu-desktop ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  max-width: 550px;
  margin: 0 auto;
}
.menu-desktop ul li {
  width: 40%;
  text-align: center;
  padding-bottom: 17px;
}
.menu-desktop ul li:nth-child(3) {
  padding-bottom: 0;
}
.menu-desktop ul li img {
  max-width: 135px;
  max-height: 42px;
}
.menu-desktop ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .menu-desktop {
    display: none;
  }
}
.menu-mobile {
  display: none;
  height: 65px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 768px;
  z-index: 100;
}
.menu-mobile .milka-main-img {
  display: flex;
  justify-content: center;
}
.menu-mobile .milka-main-img a {
  cursor: pointer;
}
.menu-mobile .milka-main-img img {
  max-width: 135px;
  max-height: 42px;
}
.menu-mobile .menu-list {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 1%;
  z-index: 1;
}
.menu-mobile .menu-list div {
  position: relative;
  right: 0;
  display: inline-block;
  background-color: #6f5ca2;
  height: 30px;
  width: 65px;
  border-radius: 10px;
}
.menu-mobile .menu-list div.menu-button {
  box-shadow: -4px 4px 4px 0px #504a80;
}
.menu-mobile .menu-list div.menu-button.hidden {
  display: none;
}
.menu-mobile .menu-list div img {
  display: block;
  margin-left: 10px;
  margin-top: 9px;
  cursor: pointer;
  max-width: 15px;
}
.menu-mobile .menu-list div.menu-closing-cross {
  z-index: 2;
  border-radius: 10px 0 0 10px;
  box-shadow: -4px 4px 4px 0px #504a80;
  position: relative;
  top: 4.5px;
  left: -46px;
  width: 50px;
}
.menu-mobile .menu-list div.menu-closing-cross.hidden {
  display: none;
}
.menu-mobile .menu-list div.menu-closing-cross img {
  margin-top: 7px;
}
.menu-mobile .menu-list ul {
  box-shadow: -4px 4px 4px 0px #504a80;
  list-style: none;
  background-color: #6f5ca2;
  padding: 10px 20px;
  border-radius: 0 10px 10px 10px;
  position: relative;
  bottom: 30px;
}
.menu-mobile .menu-list ul.hidden {
  display: none;
}
.menu-mobile .menu-list ul li {
  line-height: 2;
  text-align: center;
}
.menu-mobile .menu-list ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .menu-mobile {
    display: block;
  }
}
.menu-border-shadow {
  box-shadow: 0 4px 2px -2px #504a80;
  margin-bottom: 50px;
  top: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Futura-Bold';
}
body {
  background-color: #6f5ca2;
  margin: 0 auto;
}
.wrapper {
  max-width: 994px;
  margin: 0 auto;
  position: relative;
}
p {
  color: white;
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 560px) {
  p {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  p {
    font-size: 8px;
  }
}
h1 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
h2 {
  color: white;
  font-size: 18.8px;
  text-transform: uppercase;
}
h3 {
  color: white;
  font-size: 16.45px;
  text-transform: uppercase;
}
h4 {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 2;
}
.content {
  max-width: 994px;
  margin: 50px auto;
}
@media screen and (max-width: 768px) {
  .content {
    margin: 100px auto 100px auto;
  }
}
.btn-red {
  font-size: 18.8px;
  border: 0;
  color: white;
  line-height: 46px;
  padding: 0 20px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  min-width: 115px;
  text-align: center;
  margin: 10px auto;
  background-color: red;
}
.btn-red:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: #a70d0d;
}
.instructions {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  margin-top: 70px;
  max-width: 800px;
}
.instructions img {
  width: 100%;
  max-width: 200px;
  align-self: center;
}
.instructions .step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  margin: 0 10px;
  text-align: center;
}
.instructions .step h3 {
  height: 80px;
}
.instructions .arrow-right {
  width: 5%;
  align-self: flex-end;
  margin-bottom: 5%;
  margin-right: 10px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .instructions {
    flex-wrap: wrap;
    justify-content: center;
  }
  .instructions .step {
    width: 50%;
  }
  .instructions .arrow-right {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 33px;
  }
  .instructions .arrow-right img {
    transform: rotate(90deg);
    width: 50px;
  }
}
header {
  position: relative;
  height: 460px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../css/images/banner-desktop3.png");
  background-repeat: no-repeat;
  background-position: center;
}
header .header-img-bottom {
  position: absolute;
  bottom: -58px;
  width: 103%;
  height: auto;
  display: block;
  overflow: hidden;
  left: -21px;
}
@media screen and (max-width: 768px) {
  header .header-img-bottom {
    bottom: -20px;
    width: 100%;
    left: 0;
  }
}
header .heading1 {
  position: relative;
  top: 42px;
  text-align: center;
}
header .heading1 span {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  header .heading1 {
    top: 55px;
  }
  header .heading1 span {
    font-size: 15px;
  }
}
@media screen and (max-width: 360px) {
}
header .heading2 {
  position: relative;
  top: 185px;
  text-align: center;
}
header .heading2 h2 {
  text-shadow: 2px 2px 10px #000000;
}
@media screen and (max-width: 768px) {
  header .heading2 {
    top: 235px;
  }
}
@media screen and (max-width: 360px) {
  header .heading2 {
    top: 245px;
  }
}
header .btn-win {
  text-align: center;
  position: relative;
  top: 190px;
}
header .btn-win .btn-red {
  font-size: 18.8px;
  border: 0;
  color: white;
  line-height: 46px;
  padding: 0 20px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  min-width: 115px;
  text-align: center;
  margin: 10px auto;
  background-color: red;
}
header .btn-win .btn-red:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: #a70d0d;
}
@media screen and (max-width: 768px) {
  header .btn-win {
    top: 55px;
  }
}
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 768px) {
  header {
    height: 520px;
    background-image: url("../css/images/banner-desktop2.png");
  }
  header.mobile-header {
    background-image: none;
    height: 25px;
  }
  header.mobile-header .header-img-bottom {
    display: none;
  }
}
@media screen and (max-width: 360px) {
}
.header-without-text .header-description {
  display: none;
}
footer {
  margin: 0 25px 20px 25px;
}
footer p,
footer div {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 11.3px;
}
footer img {
  max-width: 125px;
}
form {
  max-width: 865px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
form .name {
  order: -5;
}
form .surname {
  order: -4;
}
form .email {
  order: -3;
}
form .adress {
  order: -2;
}
form .postcode {
  order: -1;
}
form input[type=password],
form input[type=text],
form input[type=submit],
form input[type=file],
form input[type=email],
form input[type=tel] {
  width: 100%;
  margin: 10px 20px;
}
form input[type=text]::placeholder,
form input[type=email]::placeholder,
form input[type=tel]::placeholder {
  color: #c2c2c2;
  font-family: "Futura";
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  form input[type=text]::placeholder,
  form input[type=email]::placeholder,
  form input[type=tel]::placeholder {
    font-size: 14px;
  }
}
form input[type=checkbox] {
  margin-left: 20px;
  padding: 10px;
}
form input[type=submit] {
  width: 30%;
  color: white;
  height: 43px;
  font-size: 14px;
}
form input[type=password],
form input[type=text],
form input[type=email],
form input[type=tel] {
  padding: 10px;
  border-radius: 10px;
  border: none;
  text-align: center;
  color: #c2c2c2;
  font-size: 14px;
}
form input[type=file] {
  background-color: red;
  color: white;
  line-height: 46px;
  padding: 0 20px;
  border-radius: 10px;
}
form div {
  display: inline-block;
  width: 30%;
  margin: 0 20px;
  text-align: left;
}
form div input {
  margin-left: 0 !important;
}
form div p {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 10px;
  margin-top: 12px;
  text-align: left;
  font-size: 14px;
}
form div a {
  color: white;
  margin-left: 27px;
  font-size: 12.5px;
  font-family: Futura-Medium;
}
@media screen and (max-width: 768px) {
  form {
    max-width: 250px;
  }
  form input[type=text],
  form input[type=submit],
  form button,
  form input[type=email],
  form input[type=tel] {
    width: 100%;
    margin: 10px 0;
  }
  form button {
    margin: 10px 0 !important;
  }
  form .btn-red {
    font-size: 14px;
  }
  form div {
    width: 100%;
    margin: 0;
  }
  form div p {
    font-size: 14px;
  }
}
form .form-group {
  position: relative;
}
form .form-group:first-child .validation-message {
  visibility: visible;
}
form .form-group .validation-message {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 100%;
  line-height: 20px;
  padding: 5px 20px;
  height: 43px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form .form-group .validation-message:hover {
  background-color: red;
}
.checkbox-squared {
  position: relative;
}
.checkbox-squared label {
  margin-top: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
}
.checkbox-squared label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 6px;
  left: 6px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.checkbox-squared label:hover::after {
  opacity: 0.5;
}
.checkbox-squared input[type=checkbox] {
  visibility: hidden;
}
.checkbox-squared input[type=checkbox]:checked + label:after {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .checkbox-squared .validation-message {
    bottom: -8px !important;
  }
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  bottom: 25px;
}
@media screen and (max-width: 768px) {
  .inputfile {
    bottom: 100px;
    left: 0;
  }
}
.inputfile + label {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  line-height: 20px;
  padding: 5px 20px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputfile + label:hover {
  background-color: #a70d0d;
}
@media screen and (max-width: 768px) {
  .inputfile + label {
    width: 100%;
    margin: 10px 0;
    font-size: 15px;
  }
}
.thx-content {
  text-align: center;
  max-width: 400px;
  margin: 100px auto 200px auto;
}
.thx-content h2 {
  margin: 25px 0;
}
.thx-content h4:nth-of-type(2) {
  margin-top: 100px;
}
.thx-content .fcb-button {
  position: relative;
  background-color: white;
  width: 110px;
  height: 32px;
  border: 2px solid #425f9c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 25px;
  padding-left: 40px;
}
.thx-content .fcb-button a {
  color: #425f9c;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thx-content .fcb-button:before {
  content: "";
  background-image: url("../css/images/facebook.png");
  background-size: cover;
  width: 35px;
  height: 33px;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.thx-content .logo-milka {
  display: none;
}
@media screen and (max-width: 768px) {
  .thx-content {
    margin: 100px auto;
  }
  .thx-content h4:nth-of-type(2) {
    margin-top: 0;
  }
  .thx-content .logo-milka {
    display: block;
    margin: 10px auto;
    padding-left: 260px;
  }
}
@media screen and (max-width: 560px) {
  .thx-content .logo-milka {
    padding-left: 60px;
  }
}
.winner-head {
  text-align: center;
  margin-top: 90px;
}
.winner-head h1 {
  margin: 20px 0;
}
.winner-head input[type=search] {
  width: 264px;
  padding: 10px;
  padding-right: 25px;
  border-radius: 10px;
  border: 2px solid rgba(194, 194, 194, 0.5);
  background-image: url("../css/images/search-img.png");
  background-size: 20px 20px;
  background-position: 233px;
  background-repeat: no-repeat;
}
.winner-head input[type=search]::placeholder {
  color: #c2c2c2;
  font-size: 12px;
}
.winner-head .winner-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.winner-head .winner-slider a img {
  width: 70%;
}
.winner-head .winner-slider .slider-text {
  display: inline-block;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .winner-head .winner-slider .slider-text {
    font-size: 30px;
  }
}
.winner-head .list-of-winners {
  max-width: 730px;
  max-height: 830px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgba(194, 194, 194, 0.5);
  margin: 0 auto;
  font-size: 10px;
}
.winner-head .list-of-winners table {
  width: 100%;
}
.winner-head .list-of-winners table tr {
  color: #6f5ca2;
}
.winner-head .list-of-winners table tr td {
  width: 15%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.winner-head .list-of-winners table tr td span {
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .winner-head .list-of-winners {
    max-width: 285px;
    max-height: 830px;
    margin: 0 auto;
    overflow-y: scroll;
  }
  .winner-head .list-of-winners tr {
    display: flex;
    flex-wrap: wrap;
  }
  .winner-head .list-of-winners tr td {
    width: 100% !important;
  }
}
.terms h1 {
  text-align: center;
  margin: 100px auto 40px auto;
}
.terms .rules-text {
  margin: 20px 50px;
  text-align: center;
  max-width: 880px;
}
.terms .rules-text p {
  font-size: 8.5px;
}
@media screen and (max-width: 768px) {
  .terms .rules-text {
    margin: 20px;
  }
}
@font-face {
  font-family: 'Futura-Medium';
  src: url('../fonts/Futura-Medium.woff') format('woff'), url('../fonts/Futura-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura.eot');
  src: url('../fonts/futura.woff2') format('woff2'), url('../fonts/futura.eot?#iefix') format('embedded-opentype'), url('../fonts/futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura-Bold';
  src: url('../fonts/Futura-Bold.eot');
  src: url('../fonts/Futura-Bold.eot') format('embedded-opentype'), url('../fonts/Futura-Bold.woff2') format('woff2'), url('../fonts/Futura-Bold.woff') format('woff'), url('../fonts/Futura-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
